.breakpoint {
	color: #e50000;
}

.breakpoint-hint {
    opacity: 0.25 !important;
}

.current,
.breakpoint-current {
	color: #ffcc00;
}

.breakpoint-current::after {
    content: "\eb8a"; /* codicon-debug-stackframe-dot */
    position: absolute;
    color: #e50000;
}

.line {
	background: #ffcc00;
    opacity: 0.5;
}
