/* TODO temporary workaround for https://github.com/microsoft/monaco-editor/issues/2842 */
.codicon-debug-breakpoint::before {
	content: '\ea71';
}

.codicon-debug-hint::before {
	content: '\ea71';
}

.codicon-debug-stackframe::before {
	content: '\eb8b';
}
/* workaround end */

:root {
	--monaco-debug-breakpoint-color: #e50000;
	--monaco-debug-stackframe-color: #ffcc00;
	--monaco-todo-color: hsl(100, 75%, 30%);
}

.editor {
	height: 95vh;
}

.codicon-debug-breakpoint,
.codicon-debug-hint {
	color: var(--monaco-debug-breakpoint-color);
	cursor: pointer;
}

.codicon-debug-hint:not([class*='codicon-debug-breakpoint']):not([class*='codicon-debug-stackframe']) {
	opacity: 0.4 !important;
}

.codicon-debug-stackframe {
	color: var(--monaco-debug-stackframe-color);
	cursor: pointer;
}

.codicon-debug-breakpoint.codicon-debug-stackframe::after {
	content: "\eb8a"; /* codicon-debug-stackframe-dot */
	position: absolute;
	color: var(--monaco-debug-breakpoint-color);
}

.monaco-debug-line {
	background: var(--monaco-debug-stackframe-color);
	opacity: 0.5;
}

.monaco-todo-line {
	background-color: var(--monaco-todo-color);
	border-radius: 3px;
	color: #fff !important;
	font-weight: bold;
}
