* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button, input, select, textarea {
	font: inherit;
}

/* Keep default for any element below monaco-editor components. */
.monaco-editor * {
	box-sizing: content-box;
}

:root {
	/* debug colors from <vscode>/src/vs/workbench/contrib/debug/browser/breakPointEditorContribution.ts and debugColors.ts */
	--monaco-debug-breakpoint-color: #e51400;
	--monaco-debug-stackframe-color: #ffcc00;
	--monaco-debug-start-color: #388a34;
	--monaco-debug-command-color: #007acc;
	--monaco-debug-stop-color: #a1260d;
	--monaco-todo-background-color: hsl(100, 75%, 30%);
	--monaco-todo-color: #fff;
	--monaco-widget-border-color: #cecece;
	--monaco-widget-focus-border-color: #0090f1;
	--monaco-widget-disabled-background-color: #eeeeee;
	--monaco-widget-disabled-foreground-color: #666666;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "HelveticaNeue-Light", system-ui, "Ubuntu", "Droid Sans", sans-serif;
	padding: 1rem;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: grid;
	/* Some monaco editor side effect forces us to calculate here instead of using "1fr 350px" even though we have automatic layout enabled... (total - sidebar - gap) */
	grid-template-columns: calc(100% - 350px - 1rem) auto;
	grid-template-rows: 100%; /* force the one single row we have to be a fixed height */
	gap: 1rem;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

aside {
	display: grid;
	gap: 1rem;
	grid-auto-rows: calc((100% - 2rem) / 3); /* 3 rows = 2 gaps of 1rem; 1fr or auto don't work at keeping the heights of the children fixed */
}

.sidebarElement {
	display: grid;
	grid-template-rows: auto 1fr;
}

.list-widget {
	display: block;
	overflow: auto;
	border-radius: 2px;
	outline: 1px solid var(--monaco-widget-border-color);
	font-size: smaller;
	text-wrap: nowrap;
}

.list-widget[aria-disabled="true"] {
	background-color: var(--monaco-widget-disabled-background-color);
	color: var(--monaco-widget-disabled-foreground-color);
}

.list-widget:focus {
	outline-color: var(--monaco-widget-focus-border-color);
}

.list-widget > .list-widget-item {
	display: block;
	padding: 0.5ex;
	cursor: pointer;
}

.list-widget > .list-widget-item:hover,
.list-widget > .list-widget-item:focus {
	background-color: #eee;
}

.list-widget > .list-widget-item[aria-current] {
	background-color: #ddd;
}

.tree-widget-node {
	display: flex;
	align-items: flex-end;
}

.tree-widget-node > .codicon {
	width: 1rem;
}

.editorContainer {
	flex: 1;
}

.editor {
	position: relative; /* (Hopefully only temp) workaround for the offset copy button in diagnostic popups (see https://github.com/microsoft/monaco-editor/issues/5112). */
	height: calc(100% - 1rem);
}

.statusBar {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.codicon-debug-breakpoint,
.codicon-debug-hint {
	color: var(--monaco-debug-breakpoint-color);
	cursor: pointer;
}

.codicon-debug-hint:not([class*='codicon-debug-breakpoint']):not([class*='codicon-debug-stackframe']) {
	opacity: 0.4 !important;
}

.codicon-debug-stackframe {
	color: var(--monaco-debug-stackframe-color);
	cursor: pointer;
}

.codicon-debug-breakpoint.codicon-debug-stackframe::after {
	content: "\eb8a"; /* codicon-debug-stackframe-dot */
	position: absolute;
	color: var(--monaco-debug-breakpoint-color);
}

.codicon-debug-start {
	color: var(--monaco-debug-start-color);
}

.codicon-debug-continue,
.codicon-debug-pause,
.codicon-debug-step-over,
.codicon-debug-step-into,
.codicon-debug-step-out {
	color: var(--monaco-debug-command-color);
}

.codicon-debug-stop {
	color: var(--monaco-debug-stop-color);
}

.monaco-debug-line {
	background: var(--monaco-debug-stackframe-color);
	opacity: 0.4;
}

.monaco-editor .find-widget .button.hidden {
	display: none;
}

.monaco-todo-line {
	background-color: var(--monaco-todo-background-color);
	border-radius: 3px;
	color: var(--monaco-todo-color) !important;
	font-weight: bold;
}

.monaco-single-line {
	box-sizing: content-box;
	display: flex;
	align-items: center;
	position: relative;
	padding: 4px 6px;
	border-radius: 2px;
	outline: 1px solid var(--monaco-widget-border-color);
}

.monaco-single-line[aria-disabled="true"] {
	background-color: var(--monaco-widget-disabled-background-color);
}

.monaco-single-line[aria-disabled="true"] .monaco-editor {
	--vscode-editor-foreground: var(--monaco-widget-disabled-foreground-color);
	--vscode-editor-background: var(--monaco-widget-disabled-background-color);
	--vscode-editorGutter-background: var(--monaco-widget-disabled-background-color);
}

.monaco-single-line[aria-disabled="true"] .monaco-editor .mtk1 {
	color: var(--monaco-widget-disabled-foreground-color);
}


.monaco-single-line.focus {
	outline-color: var(--monaco-widget-focus-border-color);
}

.monaco-single-line-slash-command {
	color: #006ab1 !important;
}

.monaco-single-line-slash-command-detail {
	opacity: 0.5;
}
